@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UnknownGmbH</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Willkommen im UnknownGmbH</h2>
        <p>
            UnknownGmbH ist eine Webanwendung, mit der Rechnungen für verkaufte Artikel ausgestellt werden können.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Haben Sie Interesse an Kooperation?</h2>
        <p>Dann melden Sie sich bitte via E-Mail an</p>
        <p><a class="btn btn-default" href="https://www.google.de/?hl=de"> UnkownGmbH@gmail.com &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FehlerMeldungen</h2>
        <p>Falls Sie Probleme mit der Webanwendung haben, bitte wenden Sie sich an:.</p>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Melden &raquo;</a></p>
    </div>
</div>