@{
    ViewBag.Title = "Home Page";
}


<div class="box">
    <h1>UnknownGmbH</h1>
</div>
<div id="wrapper">
    <div id="div1">
        <a target="_blank" href="~/Content/Image/blueberies.jpg">
            <img src="~/Content/Image/blueberies.jpg" alt="Forest" width="200" height="200">
        </a>
        <div class="desc">Riesenfrüchte, dunkelblau, 
        gegen Ende der Ernte kleinerwerdend.</div>
    </div>

    <div id="div2">
        <a target="_blank" href="~/Content/Image/grozdje.jpg">
            <img src="~/Content/Image/grozdje.jpg" alt="Forest" width="200" height="200">
        </a>
        <div class="desc">Tafeltraube mit großen, kernlosen Früchten, 
        nur selten von Mehltau betroffen</div>
    </div>

    <div id="div3">
        <a target="_blank" href="~/Content/Image/kruska.jpg">
            <img src="~/Content/Image/kruska.jpg" alt="Northern Lights" width="200" height="200">
        </a>
        <div class="desc">Clapps Liebling ist eine alte Birnensorte, 
        die auch in Norddeutschland angebaut wird..</div>
    </div>
</div>

<div id="middletext">
    <h1 id="myHeader">Einige Informationen über unsere Obst und Gemüse</h1>
    <p id="firstname">
        Buch in guten Zustand, leicht papiergebräunte seiten. Die botanische Einordnung und die Klassifikation der Gemüsearten, Gemüse 
        ist einer der wichtigsten Bestandteile der menschlichen Ernährung. Schon die Urmenschen ergänzten ihre tierische Nahrung durch das Sammeln von Blättern, Wurzeln, 
        Zwiebeln, Knollen, Trieben und wilden Früchten. Die Pflanzen liefern dem Menschen nicht nur Grundnährstoffe wie Eiweiße, Fette und Zucker, 
        sondern auch wichtige Vitamine und Minerale, sogenannte Ballaststoffe, ätherische Öle und viele Heilstoffe.
        <a target="_blank" href="tryit.asp?filename=trycss_text">"Try it Yourself"</a> link.
    </p>
</div>

    <div class="container">
        <div class="col-md-4">
            <h2>Willkommen im UnknownGmbH</h2>
            <p>
                Wir sind ein Unternehmen, das Obst und Gemüse verkaufen. Qualität und Kundenzufriedenheit stehen an erster Stelle.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Haben Sie Interesse an Kooperation?</h2>
            <p>Dann melden Sie sich bitte via E-Mail an</p>
            <p><a class="btn btn-default" href="https://www.google.de/?hl=de"> UnkownGmbH@gmail.com &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>FehlerMeldungen</h2>
            <p>Falls Sie Probleme mit der Webanwendung haben, bitte wenden Sie sich an:.</p>
            <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Melden &raquo;</a></p>
        </div>
    </div>

